name: Build Test

on: [push, pull_request]

jobs:
  build-debian-testing:
    name: Debian Testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Create Build Environment
        run: cd tests/ci/ && podman build -t omerewriter -f ./Dockerfile-debian-testing .

      - name: Build & Test
        run: podman run -t -e CC=gcc -e CXX=g++ -v `pwd`:/build omerewriter
          ./tests/ci/build-and-test.sh

  build-ubuntu-lts:
    name: Ubuntu LTS
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Create Build Environment
      run: cd tests/ci/ && podman build -t omerewriter -f ./Dockerfile-ubuntu-lts .

    - name: Build & Test
      run: podman run -t -e CC=gcc -e CXX=g++ -v `pwd`:/build omerewriter
           ./tests/ci/build-and-test.sh
